#compiled object files
*.slo
*.o
*.lo
*.obj

#precompiled headers
*.gch
*.pch

#dynamic libraries
*.so
*.dylib
*.dll

#fortran mod files
*.mod

# static libraries
*.lai
*.la
*.a
*.lib

#executables
*.exe
*.out
*.app

#emacs save files
*.cpp~
*.h~